.logo {
  font-family: 'Bungee Shade';
  float: left;
  color: white;
  line-height: 64px;
  font-size: 30px;
}

.menu {
  float: right;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    margin-left: -128px;
  }
}

